/* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


/* globales */

/*
.menu {
        grid-area: navb;
}

.logo:hover {
    transform:rotateZ(50deg);
}

.titulo {
    font-size: 2rem;
    font-weight:bold;
    font-variant:small-caps;
    background: linear-gradient(#47525d,#e9ecef);
    color: rgba(33, 33, 33, 0.59);
    align-items: flex-start;
    margin: 3rem;
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count:initial;
    border-radius: 0.5rem;
    border: inset;
} 

@keyframes aparecer {
0% {
    opacity: 0;
}
100% {
    opacity:1;
}
}

footer {
        grid-area: foot;
        background-image: linear-gradient(to top,black,white);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 4em;
    }
    
    footer .btnred {
        display: flex;
        align-items: center;    
    }
    
    .btnred a {
        margin: 0 1em;
    }

    .btnred a:hover {
        transform:rotateZ(5deg);
        background-color: rgba(14, 15, 15, 0.332);
        border-radius: 1rem;
    }
    /* home */
    /*
    .grid-area {
        display: grid;
        height: 100vh;
        grid-template-areas: 
            "navb navb navb"
            "ppal ppal ppal"  
            "bgwh bgwh bgwh"
            "bgbl bgbl bgbl"
            "bgwh2 bgwh2 bgwh2"
            "asi bgbl2 bgbl2"
            "foot foot foot";
    }*/
    /* 
    main {
        grid-area: ppal;
        display: flex;
        flex-direction:row;
        justify-content: center;
    }
    
    main .parrafo {
        background-color: black;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        justify-content:space-evenly;
        color: white;
        padding: 1rem;
        align-items: center;
    }
    
    .parrafo h1 {
        animation-duration: 2s;
        animation-name: colorG;
        animation-iteration-count:infinite;
        } 

        
        
        @keyframes colorG {
        0% {
            color: #11121270;
        }
        
        50% {
            color: grey;
        }

        100% {
            color: #fdfeff;
            }
        }
 
         

    .enlace {
        text-decoration: none;
        color: white;
    }
        
    .parrafo a:hover {
        font-weight: bold;
        text-decoration:none;
        color:#f5a74f;  
    }
        
    .parrafo a:active{
        color:gold ;
    }

    .btnConocenos{
        font-size: 1rem;
        padding: 0.5rem;
        width: max-content;
        text-align: center;    
        height: 2.5rem;
        border-radius: 0.7rem;
        background-image: linear-gradient(to bottom, #eb94d07c, #2079b08b);
    }

    

    .btnConocenos:hover {
        background: #2079b0;
        text-decoration: none;
    }

    .bg--white {
        grid-area: bgwh;
        display: flex;
        flex-direction:row;
        background-color: white;
        align-items: center;
        padding: 1rem;
    }
        
    .bg--white p {
        font-size: 1.5rem;
        color:#522f2fab;
        text-align: justify;
    }
        
    .bg--white img {
        padding: 0.6rem;
        border: 1px solid white;
        border-radius: 1.25rem;
    }

    .bg--black {
        grid-area: bgbl;
        display: flex;
        flex-direction:row-reverse;
        background-image:linear-gradient(to top,white,black);
        background-position: center;
        background-attachment: fixed;
        align-items: center;
        padding: 1rem;
        height: 50rem;
    }
        
    .bg--black h3 {
        display: flex;
        align-items: center;
        font-size: 3rem;
        color: white;
        text-align: right;
        font-weight: bolder;
    }
        
    .bg--black img {
        width: 31.25rem;
        border: 0.063rem solid white;
        border-radius: 1.25rem;
    }

    .bg--white2 {
        grid-area: bgwh2;
        display: flex;
        flex-direction:row;
        background-color: white;
        padding: 1.25rem;
        align-items: center;
    }
        
    .bg--white2 h3 {
        font-size: 3rem;
        color: black;
        text-align: left;
        font-weight: bolder;
    }
        
    .bg--white2 img {
        width: 31.25rem;
        padding: 0.625rem;
        border: 1px solid white;
        border-radius: 1.25rem;
        margin: 1rem;
    }

    aside {
        background-color: rgba(23, 23, 23, 0.934);
        grid-area: asi;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.625rem;
    }

    aside div p {
        font-size: 1.25rem;
        color: white;
        margin: 0.5rem 0;
        font-weight: bolder;
    }
    
    aside div video {
        width: 21rem;
        border-radius: 0.3rem;
        background-color: aliceblue;
    }


    .bg--black2 {
        grid-area: bgbl2;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        padding: 1.25rem;
    }
        
    .bg--black2 h3 {
            font-size: 3.125rem;
            color: white;
            text-align: center;
        }

    .bg--black2 .suscribe {
        text-align: center;
        color: gold;
        font-size: 1.25rem;
    }    

    input:focus {
        background-color:#ffff0059;
    }

    .btnSuscribe{
         border-radius: 3rem;
         background-image: linear-gradient(to bottom, #eb94d07c, #2079b08b);
         font-size: 1rem;
         padding: 0.5rem;
}

    .btnSuscribe:hover {
         background: #2079b0;
         color: #e9ecef;
}
*/
/* quienes somos */
/*
.grid-area2 {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "quien quien quien"  
        "com com com"
        "res res res"
        "foot foot foot";
}


.quienes {
    grid-area: quien;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    background: black;
}

.quienes div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

.quienes div h2 {
    font-size: 6.25rem;
    padding: 0.625rem;
    color:white;
    text-shadow: #1964cc 0 2rem 1rem;
}

.quienes div p {
    font-size: 2rem;
    text-align: center;
    margin-left: 1.25rem;
    color: white;
    }

.quienes div img {
border-radius: 0.625rem;
}

.comunidad {
grid-area: com;
display: flex;
flex-direction: row;
align-items:center;
justify-content: space-around;
padding: 1rem;
background: black;
height: 70rem;
}

.comunidad .king {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.king h3 {
    font-size: 10rem;
    animation-duration: 10s;
    animation-name: rey;
    animation-iteration-count:infinite;
    color: #dddddf;
} 
@keyframes rey{
    0% {
    text-align: center;
    opacity: 0;
    text-decoration: none;
    }
    
    50% {
        text-decoration:underline;
    }
    
    100% {
    opacity:1;
    text-decoration:overline;
    }
    }

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #f5a74f;
}

.containerCarousel {
    width: 30rem;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    border: 1rem solid #dddddf;
}

.comunidad .titular {
margin: 1.25rem;
}

.titular {
    animation-duration: 30s;
    animation-name: aparecerTitular;
    animation-iteration-count:infinite;
    text-align: center;
    border-radius: 1rem;
} 

@keyframes aparecerTitular {
0% {
    opacity: 0.5;
    color: black;
    background-color: #f5f8fa;
}
100% {
    opacity:1;
    background-color: black;
    color: white;
}
}
/*
.calidad {
    display: flex;
    flex-direction: column;
}

.reseña {
    grid-area: res;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reseña__titulo{
    display: flex;
    flex-direction: column;
    height: 20rem;
    padding: 1rem;
    background: linear-gradient(rgb(239, 234, 234),rgba(0, 0, 0, 0.034)) ,url(../img/imgFondo/1.jpg);
    background-attachment: fixed;
    justify-content: center;
    
}

.reseña__titulo-h2 {
    font-size: 4rem;
    color: #000000;
    animation-name: moverY;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
    @keyframes moverY{

        0% {
            transform:translateY(70%);
            color: rgba(255, 255, 255, 0.597);
        }

        100% {
            transform:translateY(0%);
        }
        
    }

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    height: 40rem;
    background: #000000;
}

.conte{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: auto;
    background-color: #dddddf;
    padding: 1rem;
    border-radius: 1rem;
    border: 1rem dashed rgba(128, 128, 128, 0.45);
    text-align: center;
    font-weight: bold;
    align-items: center;
}

.conte img {
    border-radius: 10rem;
    width: 50%;
}

div p {
    font-weight: lighter;
}
*/
/* productos */


.grid-area3 {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "bann bann bann"
        "nues nues nues"
        "prod prod prod"  
        "foot foot foot";
}

.banner {
    grid-area: bann;
    display:flex;
    background: linear-gradient(rgb(4 1 1),rgba(0, 0, 0, 0.034)) ,url(../img/producto/barberia.jpg);
    background-attachment: fixed;
    text-align: center;
    height: 20rem;
    align-items: center;
    justify-content: center;
    background-size:cover;
}

.banner h2 {
    color: rgba(255, 255, 255, 0.467);
    text-decoration: underline;
    font-size: 4rem;
    font-style: oblique;
    text-transform: uppercase;
    font-stretch: condensed;
    font-weight: bold;
    animation-name: mover;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
    @keyframes mover{

        0% {
            transform:translateX(-5%);
        }

        50% {
            transform:translateX(10%);
        }

        100% {
            transform:translateX(0%);
        }
        
    }



.grid-pr {
    grid-area: prod;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-items: center;
    background-image: linear-gradient(26deg, grey, black);
}


.grid-pr .pr {
    display: flex;
    align-items: center;
    padding: 0.625rem;
}

.pr img{
border-radius: 5rem;
}
.grid-pr .pr p{
font-size: 1.25rem;
color: white;
margin: 1rem;
}


/* contacto */

/*

.mapa {
    height: 100vh;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(9, 40, 118, 0.75)), url("../img/contacto/2.png");
    background-repeat: repeat-x;
    background-position: center;
}

.mapa div {
    margin: 0.625rem;
    align-items: center;
    color: rgba(245, 245, 243, 0.794);
    font-size: 1.875rem;
}

/* carrito */
/*
.gridCarrito {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "nov nov nov"
        "car car car"  
        "wav wav wav"
        "foot foot foot";
}

.novedades__título{
    color: #dddddf;
    font-size: 2rem;
    padding: 1rem;
}

.novedades__título h3{
    text-shadow: rgba(5, 86, 223, 0.5) 0 4rem 3rem;
    text-transform: capitalize;
    font-size: 5rem;
    margin-bottom: 4rem;
}


.novedades {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-direction: column;
}



.novedades__cont {
    padding: 2rem;
    grid-area: nov;
    width: 40rem;
}

.compra {
    height: 5rem;
    background-color:#626263;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}

.compra span {
    display: block;
    white-space: nowrap;
    color: #dee7f3;
    border-right: 5px solid #dee7f3;
    width: 39ch;
    animation: escribir 5s steps(43),
    parpadeo 0.4s infinite alternate;
    overflow:hidden ;
}

@keyframes escribir {
    from {
        width: 0;
    }
}
@keyframes parpadeo {
    70% {
        border-color: transparent;
    }
}


.carrito {
    display: grid;
    grid-area: car;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #111112a8;
    gap: 1rem;
    justify-items: center;
    padding: 1rem;
    border: 1rem solid;
}

.carrito div {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: auto;
    border-radius: 1rem;
}



.carrito__titulo{
    text-align: center;
}

.carrito__botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.carrito img {
    border-radius: 1rem;
    cursor: pointer;
}

.carrito div:hover > img {
    transform: scale(1.3);
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(5, 86, 223, 0.5);

}

.wave {
    grid-area: wav;
    background-color: #000000;
}


