.gridCarrito {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "nov nov nov"
        "car car car"  
        "wav wav wav"
        "foot foot foot";
}

.novedades {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-direction: column;
    .novedades__cont {
        padding: 2rem;
        grid-area: nov;
        width: 40rem;
    }
    .novedades__título {
        color: #dddddf;
        font-size: 2rem;
        padding: 1rem;
        h3 {
        text-shadow: rgba(5, 86, 223, 0.5) 0 4rem 3rem;
        text-transform: capitalize;
        font-size: 5rem;
        margin-bottom: 4rem;
        }
        }
    }

.compra {
    height: 5rem;
    background-color:#626263;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    span {
        display: block;
        white-space: nowrap;
        color: #dee7f3;
        border-right: 5px solid #dee7f3;
        width: 39ch;
        animation: escribir 5s steps(43),
        parpadeo 0.4s infinite alternate;
        overflow:hidden ;
        }
        @keyframes escribir {
        from {
            width: 0;
            }
        }
        @keyframes parpadeo {
            70% {
            border-color: transparent;
            }
        }
    }

.carrito {
    display: grid;
    grid-area: car;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #111112a8;
    gap: 1rem;
    justify-items: center;
    padding: 1rem;
    border: 1rem solid;
    div {
        display: flex;
        flex-direction: column;
        width: 15rem;
        height: auto;
        border-radius: 1rem;
        .carrito__titulo {
        text-align: center;
        }
        .carrito__botones {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        img {
            border-radius: 1rem;
            cursor: pointer;
            }
            }
        }

    .carrito div:hover > img {
    transform: scale(1.3);
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(5, 86, 223, 0.5);
    }

    .wave {
    grid-area: wav;
    background-color: #000000;
    }